* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
}

.logo{
    background-image: url(amazon-logo-transparent.png);
    background-size: contain;
    height: 65px;
    width: 120px;
    background-repeat: no-repeat;
    margin-top: 14px;
    
}

.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** box2 **/

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec { 
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-search:hover {
    border: 2px solid orange;
}


/** box4 **/

span {
    font-size: 0.85rem;
}

.nav-second {
    font-size: 0.95rem;
    font-weight: 600;
}

/** box5 **/
.nav-cart i {
    font-size: 30px;
}

/** panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin: 22px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero section **/
.hero-section {
    background-image: url(hero.jpg);
    height: 250px;
    background-size: cover;
}

/** shop section **/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: hwb(33 50% 12%);
}
.box {
    border: 0px solid black;
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img1 {
    height: 280px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    color: #007185;
}

/** footer panel **/
footer {
    margin-top: 8px;
}

.foot-panel {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #f3f3f3;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    background-image: url(amazon-logo-transparent.png);
    background-size: contain;
    height: 65px;
    width: 120px;
    background-repeat: no-repeat;
    margin-top: 14px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.92rem;
    text-align: center;
}
.pages {
    color: white;
    padding-top: 20px; 
      
}

.copyright {
    padding-top: 6px;
}

.pages a {
    color: white;
    margin-right: 20px;
}
